@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --todo-background: #FFFFFF;
  --main-background: #FAFAFA;
  --main-text-color: #494C6B;
  --footer-text-color: #5B5E7E;
  --todo-title-text-color: #C8CBE7;
  --todo-done-item-text-color: #D1D2DA;
  --selected-filter-color: #3A7CFD;
  --new-todo-placeholder-text-color: #9495A5;
  --filter-text-color-hover: #262838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --todo-background: #25273D;
    --main-background: #171823;
    --main-text-color: #767992;
    --footer-text-color: #5B5E7E;
    --todo-title-text-color: #C8CBE7;
    --todo-done-item-text-color: #4D5067;
    --selected-filter-color: #3A7CFD;
    --filter-text-color-hover: rgba(227, 228, 241, 1);

  }
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --todo-background: #25273D;
  --main-background: #171823;
  --main-text-color: #C8CBE7;
  --footer-text-color: #5B5E7E;
  --todo-title-text-color: #C8CBE7;
  --todo-done-item-text-color: #4D5067;
  --selected-filter-color: #3A7CFD;
  --new-todo-placeholder-text-color: #767992;
  --filter-text-color-hover: rgba(227, 228, 241, 1);


}

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --todo-background: #FFFFFF;
  --main-background: #FAFAFA;
  --main-text-color: #494C6B;
  --footer-text-color: #5B5E7E;
  --todo-title-text-color: #C8CBE7;
  --todo-done-item-text-color: #D1D2DA;
  --selected-filter-color: #3A7CFD;
  --new-todo-placeholder-text-color: #9495A5;
  --filter-text-color-hover: #262838
}

.todo-outer-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: 
      linear-gradient(to right, rgba(61, 16, 189, 0.75), rgba(164, 35, 149, 0.75)), 
      url("/upper-bg-light.png");
  background-size: contain, 120vw auto; 
  background-position: center, right center; 
  background-repeat: no-repeat, no-repeat;
}


[data-theme="light"] .todo-outer-wrapper::before {
    background-image: 
        linear-gradient(to right, rgba(61, 16, 189, 0.75), rgba(164, 35, 149, 0.75)), 
        url("/upper-bg-light.png");
}

[data-theme="dark"] .todo-outer-wrapper::before {
    background-image: 
        linear-gradient(to right, rgba(61, 16, 189, 0.75), rgba(164, 35, 149, 0.75)), 
        url("/upper-bg-dark.png");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--todo-background);
  border-top-right-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--selected-filter-color);
  border-top-right-radius: 5px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #76799242;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked {
    background-image: 
        url('/checked.png'), 
        linear-gradient(to right, rgba(85, 221, 255, 1), rgba(192, 88, 243, 1));
    background-size: 10px 8px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    border: none;
}

input[type="checkbox"]:hover {
    border: 1px white;
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type="text"]::placeholder {
  color: var(--new-todo-placeholder-text-color);
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--new-todo-placeholder-text-color);
}

input[type="text"]::-moz-placeholder {
  color: var(--new-todo-placeholder-text-color);
}

input[type="text"]:-ms-input-placeholder {
  color: var(--new-todo-placeholder-text-color);
}

input[type="text"]:-moz-placeholder {
  color: var(--new-todo-placeholder-text-color);
}
